/* The heading an navigaion font */
@import url("https://fonts.googleapis.com/css2?family=Lalezar");
/* The main font */
@font-face {
  font-family: "Vazir";
  src: url("../fonts/vazir/Vazir.eot");
  src: url("../fonts/vazir/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir/Vazir.woff2") format("woff2"),
    url("../fonts/vazir/Vazir.woff") format("woff"),
    url("../fonts/vazir/Vazir.ttf") format("truetype"),
    url("../fonts/vazir/Vazir.svg#Vazir") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* The general styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Vazir", Arial, Helvetica, sans-serif;
}
a {
  display: inline-block;
}
button {
  border: none;
}
li {
  list-style-type: none;
}
button {
  border: none;
  margin: 0px 5px;
}

/* The specific classes */
.navigation {
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.237);
  position: fixed;
  background-color: #fff;
}
.nav-bar-style {
  height: 50px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.nav-link-contaienr {
  width: 65%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.logo-item {
  height: 100%;
  width: 140px;
}
.nav-links {
  height: 100%;
  width: 98px;
  font-size: 18px;
  text-align: center;
  line-height: 34px;
  margin: 0px 5px;
}
.color-black {
  color: black;
}
.link-container {
  padding: 8px 0px;
  display: flex;
  height: 100%;
}
.side-bar-button {
  font-size: 21px;
  width: 40px !important;
  height: 38px;
  border-radius: 3px;
  line-height: 38px;
}
.side-bar-button::after {
  content: "\002630";
  cursor: pointer;
}
.side-bar-button-close::after {
  content: "\002573";
  font-size: 16px;
  cursor: pointer;
}
.button-container {
  line-height: 50px;
  width: 40%;
  padding: 0px 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sign-in {
  font-size: 15px;
  width: 80px;
  height: 38px;
  border-radius: 3px;
}
.side-bar-container {
  position: fixed;
  width: 280px;
  height: 100vh;
  transform: translateX(285px);
}
.side-bar-container-2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0000006e;
  transform: translateX(0px);
}
.off-side-bar {
  width: 280px;
  height: 100vh;
  background-color: #000;
  position: fixed;
  transform: translateX(285px);
  transition: transform 0.7s;
}
.off-side-bar-shadow {
  box-shadow: 0px 0px 50px 600px rgba(33, 32, 32, 0.352);
}
.white-color {
  color: #fff;
}
.show-off-side {
  transform: translateX(0px);
}
.nav-links-2 {
  height: 20%;
  width: 100%;
  font-size: 18px;
  text-align: center;
  line-height: 58px;
  margin: 0px 5px;
}
.transiton-fast {
  transition: all 0.5s;
}
.header-BG {
  height: 650px;
  background: url(../images/architect.jpg) no-repeat center center;
  background-size: cover;
}
.header-title {
  text-align: center;
  padding-top: 325px;
  color: #fff;
  font-family: "Lalezar";
}
.header-title > span {
  font-family: "Lalezar";
  background-color: #000;
  font-size: 27px;
  padding: 5px 10px;
  margin: 0px 5px;
}
/* Hover styles */
.link-hover:hover {
  background-color: #ccc;
}
.link-hover-2:hover {
  background-color: #ccc;
}
.link-hover-2:hover > a {
  color: #000;
}
.link-container-2 {
  padding: 8px 0px;
  display: flex;
  height: 50%;
  flex-direction: column;
  padding: 20px 10px;
}
